CNN_MODEL_PATH=models/Unified_classifier.keras
SCALER_PATH=models/Unified_classifier_feature_scaler.pkl
XGB_MODEL=models/Unified_regressor.pkl
XGB_SCALER=models/Unified_regressor_scaler.pkl
THRESHOLD=0.5