.page-header h1 {
    font-family:'Franklin Gothic';
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    color: #081f36;
    text-transform: capitalize;
    letter-spacing: 2px;

}

.display-6 {
    font-family:'Franklin Gothic';
    text-align: center;
    font-size: 2rem;
    color: #081f36;
    text-transform: capitalize;
    letter-spacing: 2px;

}
#upload-card{
    width: 75%;
   
}
#results-area{
    width:50%;
    text-align: center;
    left:30%;
    padding-top: 20px;
}

.img {
    justify-content: center;
}
.mb-0 {
    text-align: center;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #dee2e6;
}


.cleave_quality {
    font-family: 'Franklin Gothic';
    text-align: center;
    color: #081f36;
    font-size: x-large;
    animation: fade 3s linear;
    font-weight: bold;
    padding-top: 2em;
}

@keyframes fade {
    0% {opacity: 0}
    100% {opacity: 1}
}

.footer {
    padding-top: 3em;
}
#thorlink {
    color:black;
}

.btn-primary {
    background-color: rgb(189, 17, 17);
    width:30%;
    border-color: rgb(189, 17, 17);

}

.form-check-input-tearing {
    text-indent: 0.1em;
}
#submit-button {
    background-color: rgb(189, 17, 17);
    border-color: rgb(189, 17, 17);
}
#submit-button:hover {
  background-color: #551404; /* A darker green for hover */
  border-color: #551404;
}
#cancel-button {
    background-color: rgb(189, 17, 17);
    border-color:rgb(189, 17, 17);
}
#cancel-button:hover {
  background-color: #551404; /* A darker green for hover */
  border-color: #551404;
}
